.menu div {
  text-align: center;
  padding-top: 50px; }
  .menu div a {
    padding: 5% 40%;
    text-align: center;
    width: 40%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px; }
    .menu div a:hover {
      text-decoration: none; }
    .menu div a.fight {
      color: #160081;
      border: 3px solid #160081; }
      .menu div a.fight:hover {
        background: #160081;
        color: #FFF;
        transition: all .3s; }
    .menu div a.unbox {
      color: #160081;
      border: 3px solid #160081; }
      .menu div a.unbox:hover {
        background: #160081;
        color: #FFF;
        transition: all .3s; }
    .menu div a.market {
      color: #160081;
      border: 3px solid #160081; }
      .menu div a.market:hover {
        background: #160081;
        color: #FFF;
        transition: all .3s; }
