@import "../variables";

.menu {
  div {
    text-align: center;
    padding-top: 50px;
    a {
      padding: 5% 40%;
      //border-radius: 10px;
      text-align: center;
      width: 40%;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      &:hover {
        text-decoration: none;
      }

      &.fight {
        &:hover {
          background: $primary-color;
          color: #FFF;
          transition: all .3s;
        }
        color: $primary-color;
        border: 3px solid $primary-color;
      }
      &.unbox {
        &:hover {
          background: $primary-color;
          color: #FFF;
          transition: all .3s;
        }
        color: $primary-color;
        border: 3px solid $primary-color;
      }
      &.market {
        &:hover {
          background: $primary-color;
          color: #FFF;
          transition: all .3s;
        }
        color: $primary-color;
        border: 3px solid $primary-color;
      }
    }
  }
}
