.navbar {
  height: 75px;
  border-radius: 0;
  border: none;
  background-color: #4a96cd; }
  .navbar.unbox {
    transition: all 1s;
    background-color: #ff82e8; }
  .navbar.fight {
    transition: all 1s;
    background-color: #ff827c; }
  .navbar.market {
    transition: all 1s;
    background-color: #44e293; }
  .navbar.withdraw {
    transition: all 1s;
    background-color: #f7bd55; }
  .navbar span, .navbar a {
    color: #FFF !important; }
  .navbar .user-info a {
    cursor: default; }
  .navbar .user-info span {
    display: block; }
  .navbar .navbar-header object {
    height: 50px;
    width: auto; }
  .navbar .dropdown {
    height: 75px; }
    .navbar .dropdown a {
      height: 100%; }
    .navbar .dropdown .dropdown-menu {
      border-radius: 0;
      min-height: 300px;
      min-width: 250px; }
