.navbar {
  height: 75px;
  border-radius: 0;
  border: none;
  background-color: #160081;
  margin-bottom: 0px; }
  .navbar.unbox {
    transition: all 1s;
    background-color: #160081; }
  .navbar.fight {
    transition: all 1s;
    background-color: #160081; }
  .navbar.market {
    transition: all 1s;
    background-color: #160081; }
  .navbar.withdraw {
    transition: all 1s;
    background-color: #160081; }
  .navbar span, .navbar a {
    color: #FFF !important; }
  .navbar .user-info a {
    cursor: default; }
  .navbar .user-info span {
    display: block; }
  .navbar .navbar-header object {
    height: 50px;
    width: auto; }
  .navbar .navbar-header .navbar-brand {
    padding-top: 0;
    cursor: pointer; }
  .navbar img {
    cursor: pointer;
    margin-top: 3vh;
    transition: all .2s ease-in-out; }
    .navbar img:hover {
      transform: scale(1.3); }
  .navbar .dropdown {
    height: 75px; }
    .navbar .dropdown a {
      height: 100%; }
    .navbar .dropdown .dropdown-menu {
      border-radius: 0;
      min-height: 300px;
      min-width: 250px; }
  .navbar .navbar-toggle {
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    top: 15px; }
  .navbar .navbar-collapse {
    border: none; }
    .navbar .navbar-collapse ul {
      margin-top: 0; }
    .navbar .navbar-collapse li {
      border: none;
      text-align: center;
      background-color: #7E6DD1; }
      .navbar .navbar-collapse li a {
        background-color: #160081; }
    .navbar .navbar-collapse li.current {
      background: #FFFFFF; }
  .navbar li a {
    line-height: 45px; }
