@import "../variables";

.about-us {
  .title {
    h1 {
      padding-top: 10px;
    }
  }

  .image {
    background-color: $primary-color;
    background-image: url("../assets/images/team.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
  }
}
