.home h1 {
  text-align: center;
  font-size: 60px; }

.home .info {
  margin: 70px 10% 0 10%;
  text-align: center; }
  .home .info .about-us {
    margin-top: 70px; }

.home .btn.btn-default {
  color: #160081;
  border: 3px solid #160081;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .home .btn.btn-default:hover {
    background: #160081;
    color: #FFF;
    transition: all .3s; }
