.home {
  text-align: center; }
  .home h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    padding-bottom: 15px; }
  .home li {
    font-size: 17px; }
  .home .features {
    text-align: left; }
  .home .quote a {
    color: grey;
    text-decoration: underline; }
  .home .info {
    margin: 70px 10% 0 10%;
    text-align: center; }
    .home .info .about-us {
      margin-top: 70px; }
