.market h1 {
  margin-top: 0px;
  text-align: center; }

.market Button {
  width: 150px; }

.market .marketList {
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 70vw;
  max-height: 70vh;
  margin-top: 10px; }

.market .filters {
  margin-top: 10px; }

.market img {
  margin-top: 10px; }
