$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import "variables";
@import "mixins";

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "./containers/User.scss";
@import "./containers/App.scss";
@import "./components/NavBar.scss";
@import "./components/Menu.scss";
@import "./components/LastClashes.scss";
@import "./components/MonstersList.scss";
@import "./containers/Unbox.scss";
@import "./containers/Market.scss";
@import "./containers/Fight.scss";
@import "./containers/Home.scss";
@import "./containers/TheGame.scss";
@import "./containers/AboutUs.scss";
@import "./containers/Tech.scss";
//
//.content {
//  font-family: "Montserrat medium", sans-serif;
//  margin: 0 10%;
//}

.content {
  .margin {
    margin-left: 25%;
    margin-right: 25%;

    p {
      line-height: 2;
    }
  }
}

.btn.btn-default.cryptomon-button {
  border: 3px solid $primary-color;
  margin-bottom: 70px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  &:not(.fixed) {
    &:hover {
      background: $primary-color;
      color: #FFF;
      transition: all .3s;
    }
    color: $primary-color;
  }
  &.fixed {
    background: $primary-color;
    color: #FFF;
    cursor: default;
  }
}
