$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
@import "variables";
@import "mixins";

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "./containers/User.scss";
@import "./containers/App.scss";
@import "./components/NavBar.scss";
@import "./components/Menu.scss";
@import "./components/LastClashes.scss";
@import "./components/MonstersList.scss";
@import "./containers/Unbox.scss";
@import "./containers/Market.scss";
@import "./containers/Fight.scss";
@import "./containers/Home.scss";
@import "./containers/TheGame.scss";
@import "./containers/AboutUs.scss";

.content {
  font-family: "Montserrat medium", sans-serif;
  margin: 0 10%;
}

.cryptomon-button {
  &:hover {
    background: $primary-color;
    color: #FFF;
    transition: all .3s;
  }
  color: $primary-color;
  border: 3px solid $primary-color;
  margin-bottom: 70px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
